@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #5d3f51;
    background: -webkit-linear-gradient(to right, #493240, #3e70b1);
    background: linear-gradient(to right, #6e2d55, #621a7e);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}
h1 {
    text-align: center;
    padding: 20px;
}
body > div > h2 {
    text-align: center;
    font-size: 34px;
    padding-bottom: 20px;
}
.container {
    width: 880px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px ;
}
#container-question > p {
    padding-bottom: 20px;
    font-size: 24px;
}
#container-answer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    
}
.btn {
    background: linear-gradient(to right, #794464, #805a2a);
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
}
.correct {
    background-color: rgb(88, 148, 88);
    color: white;
}
.wrong {
    background-color: red;
    color: white;
}

.start-btn, .next-btn {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid black;
    background: linear-gradient(to right,  #794464, #805a2a);
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}
.hide {
    display: none;
}

body > section {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}